.sub-footer {
    font-family:moderat;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-word;
    color: #101330;
    margin: 56px 0 0 0;
    background-color: #f3f3f6;
    padding: 44px 50px;

    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .sub-footer-container {
        max-width: 1230px;
        margin: auto;

        .footer-columns {
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            line-height: 15px;
            box-sizing: border-box;

            .column-name {
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 16px;
                color: #101330;
            }
            .col-links {
                list-style: none;
                margin: 0 0 10px 0;
                padding: 0;
                li {
                    margin-bottom: 6px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 1.5;
                    font-size: 10px;
                }
            }
        }
        @media screen and (min-width: 300px) {
            .footer-columns {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
        @media screen and (min-width: 1024px) {
            .footer-columns {
                grid-template-columns: repeat(5, minmax(0, 1fr));
            }
        }

        @media screen and (min-width: 300px) {
            .footer-columns > div:last-child {
                grid-column: span 2 / span 2;
            }
        }
        @media screen and (min-width: 1024px) {
            .footer-columns > div:last-child {
                grid-column: auto;
            }
        }
    }

    &:not(.sub-footer--full) .hidden-link {
        display: none;
    }

    .footer-link {
        color: #101330;
        font-size: 14px;
        line-height: 22px;
        border: none;
        background: 0 0;
    }

    .footer-link--more {
        padding: 0;
        border-bottom: 1px solid #101330;
        cursor: pointer;
    }
    .footer-link--more:before {
        content: 'Show more';
    }
    &.sub-footer--full .footer-link--more:before {
        content: 'Show less';
    }
    .bottom-link {
        line-height: 15px;
    }
    .bottom-link .footer-link {
        color: #20b69e;
    }
}

.n8n-impressum {

  box-sizing: border-box;
  font-size: 10px;
  padding: 50px;
  overflow: hidden;
  font-family: moderat;

   [class^=icon-]{
      font-family:icomoon!important;
      speak:never;
      font-style:normal;
      font-weight:400;
      font-feature-settings:normal;
      font-variant:normal;
      text-transform:none;
      line-height:1;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
  }
   *,:after,:before{
      box-sizing:border-box;
  }
   p{
      margin-top:0;
      margin-bottom:0;
  }
   ul{
      margin-bottom:10px;
  }
   ul{
      margin-top:0;
  }
   a{
      color:#007bff;
      text-decoration:none;
      background-color:transparent;
  }
   a:hover{
      color:#0056b3;
      text-decoration:underline;
  }
   img{
      border-style:none;
  }
   img,svg{
      vertical-align:middle;
  }
   svg{
      overflow:hidden;
  }
   .col-xl-4,.col-xl-8{
      position:relative;
      width:100%;
  }
   @media (min-width:1200px){
       .col-xl-4{
          flex:0 0 33.333333%;
          max-width:33.333333%;
      }
       .col-xl-8{
          flex:0 0 66.666667%;
          max-width:66.666667%;
      }
  }
   *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-size:10px;
  }
   .footer-bottom a,.footer-bottom__left-side p,.footer-bottom__right-side p{
      font-size: 16px;
      line-height: 22px;
      font-family:moderat;
      font-style:normal;
  }
   .footer-bottom a{
      margin-top: 20px;
      color:#707183;
  }
   .footer-bottom__left-side p{
      color:#707183;
      margin-bottom:0;
  }
   .footer-bottom__right-side{
      margin-top: 20px;
  }
   .footer-bottom__right-side p{
      color:#707183;
      margin-bottom:0;
  }
   @media (min-width:1024px){
       .footer-bottom{
          margin-top: 50px;
          display:flex;
          flex-direction:row;
          justify-content:space-between;
      }
       .footer-bottom__left-side{
          display:flex;
          flex-direction:row;
          align-items:center;
          margin-top:0;
      }
       .footer-bottom__right-side{
          margin-top:0;
      }
  }
   .footer-title{
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
  }
   .footer-title svg{
      height: 28px;
      width: 87px;
  }
   @media screen and (min-width:992px){
       .footer-title svg{
          height: 32px;
          width: 100px;
      }
  }
   .footer-container .foot-link-items ul li{
      font-size: 18px;
      line-height: 24px;
      font-family:moderat;
      font-style:normal;
  }
   .footer-container__title{
      font-size: 16px;
      line-height: 22px;
      font-family:moderat;
      font-style:normal;
  }
   @media screen and (min-width:1440px){
       &{
          width:100%;
          padding:100px 0 0;
      }
  }
   .hr{
      color:#e4e6ec;
      background:#e4e6ec;
      margin-top: 30px;
      margin-left:0!important;
      width:200vw;
      position:absolute;
      transform:translate(-200px,-10px);
      height:1.2px;
  }
   @media (min-width:1024px){
       .hr{
          transform:translate(-800px,40px);
      }
  }
   @media (min-width:1023px){
       .hide-xl{
          display:none;
      }
  }
   .footer-container{
      max-width:1230px;
      margin:auto;
      display:flex;
      flex-direction:column;
  }
   @media (min-width:1024px){
       .footer-container .left{
          justify-content:left;
      }
  }
   @media (min-width:1024px){
       .footer-container{
          flex-direction:row;
      }
  }
   .footer-container__title{
      text-align:center;
      color:#707183;
      margin: 20px 40px 0;
  }
   @media (min-width:1024px){
       .footer-container__title{
          text-align:left;
          margin: 48px 0 0;
          max-width: 280px;
      }
  }
   @media (min-width:1024px){
       .footer-container .footer-right{
          display:grid;
      }
       .footer-container .footer-right .foot-link-items ul{
          display:grid;
          width:100%;
          grid-template-columns:repeat(3,minmax(100px,400px));
          grid-column-gap:24px;
          -moz-column-gap:24px;
          column-gap:24px;
      }
       .footer-container .footer-right .foot-link-items ul li{
          text-align:left;
          max-width:280px;
      }
       .footer-container .footer-right .foot-link-items ul li:first-child{
          margin-top:0;
      }
  }
   .footer-container .icon-container{
      margin-top:50px;
      justify-content:center;
      display:flex;
  }
   @media (min-width:1024px){
       .footer-container .icon-container{
          justify-content:left;
      }
  }
   .footer-container .icon-container .social-icons{
      max-width:400px;
      width:80vw;
      display:flex;
      flex-direction:row;
      justify-content:space-between;
  }
   @media (min-width:1024px){
       .footer-container .icon-container .social-icons{
          max-width:250px;
      }
  }
   @media (min-width:1024px){
       .footer-container .icon-container .social-icons img{
          width: 24px;
          height: 24px;
      }
  }
   @media (max-width:1023px){
       .footer-container .foot-link-items{
          transform:translateY(20px);
      }
  }
   .footer-container .foot-link-items ul{
      display:grid;
      grid-template-columns:1fr 1fr;
      justify-content:space-between;
      grid-column-gap:24px;
      -moz-column-gap:24px;
      column-gap:24px;
      align-items:center;
      margin-top:24px;
  }
   .footer-container .foot-link-items ul a{
      color:#101330;
      cursor:pointer;
      text-decoration:none;
  }
   .footer-container .foot-link-items ul li{
      list-style:none;
      font-weight:700;
      margin:10px;
      text-align:left;
  }
   .footer-bottom{
      max-width:1230px;
      margin:30px auto 20px;
      text-align:center;
  }
   @media (min-width:799px){
       .footer-bottom{
          transform:translateY(20px);
      }
  }
   @media (min-width:1024px){
       .footer-bottom__left-side{
          padding-top:48px;
      }
  }
   @media (min-width:1440px){
       .footer-bottom__left-side{
          padding:48px 0;
      }
  }
   .footer-bottom__right-side{
      margin-top:20px;
  }
   @media (min-width:1024px){
       .footer-bottom__right-side{
          padding-top:48px;
      }
  }
   @media (min-width:1440px){
       .footer-bottom__right-side{
          padding:48px 0;
      }
  }
   @media (min-width:1024px){
       .footer-bottom{
          margin-top:50px;
          display:flex;
          flex-direction:row;
          justify-content:space-between;
      }
       .footer-bottom__left-side{
          display:flex;
          flex-direction:column;
          align-items:flex-start;
          margin-top:0;
      }
       .footer-bottom__left-side p:not(:first-child){
          margin-top: 7px;
      }
       .footer-bottom__right-side{
          margin-top:0;
      }
  }
   @media screen and (min-width:1024px)and (max-width:1249px){
       .footer-left{
          max-width:350px;
      }
  }
}









